@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

html, body {
  background-color: #0C3B65;
  min-height: 100%;
  margin: 0;
  cursor: none;
}

@font-face {
    font-family: 'Inika';
    src: url('/fonts/Inika-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inika';
    src: url('/fonts/Inika-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  .inika-regular {
    font-family: 'Inika', serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inika-bold {
    font-family: 'Inika', serif;
    font-weight: 700;
    font-style: normal;
  }

  .checkered-bg {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDQwIDQwIj4KICA8cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNGRkZGRkYiLz4KICA8cmVjdCB4PSIyMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSIjMEMzQjY1Ii8+CiAgPHJlY3QgeT0iMjAiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzBDM0I2NSIvPgogIDxyZWN0IHg9IjIwIiB5PSIyMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSIjRkZGRkZGIi8+Cjwvc3ZnPg==');
    background-size: 40px 40px;
    background-position: center;
    background-repeat: repeat;
  }

  /* below is the styling for the mouseeffect */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .blocks-container {
    position: relative;
    top: 0;
    left: 0;
    width: 110vw;
    height: 110vh;
    overflow: hidden;
    z-index: 1;
  }
  
  #blocks {
    width: 110vw;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
    z-index: 0;
  }
  
  .block {
    width: 20px;
    height: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.075);
    transition: border-color 0.3s ease;
  }
  
  .highlight {
    border-color: #F5BD02;
    z-index: 5;
  }
  

  /* below is the styling for the block effect */

  /* .square-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10000;
    pointer-events: none;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background: #fd552f;
    box-sizing: border-box;
    pointer-events: none;
  } */



  .square-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    z-index: 10000;
    pointer-events: none;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background: #fd552f;
    box-sizing: border-box;
    pointer-events: none;
  }
  